# Maven
target/
pom.xml.*
release.properties
gen-external-apklibs/

# IntelliJ
out/
.idea/
*.iml
classes

# Mac
.DS_Store

# Misc
tmp/
*.*~
*.apk
res/values/secrets.xml

assets/styles
assets/textures
assets/patterns
manifest*

*.swp
*.swo
