[submodule "geo-json"]
	path = geo-json
	url = git@github.com:mapzen/simple-geojson.git
[submodule "simple-geojson"]
	path = simple-geojson
	url = https://github.com/mapzen/simple-geojson.git
[submodule "geojson"]
	path = geojson
	url = https://github.com/mapzen/simple-geojson.git
[submodule "android-volley-fork"]
	path = android-volley-fork
	url = https://github.com/mapzen/android-volley-fork.git
[submodule "volley"]
	path = volley
	url = https://github.com/mapzen/android-volley-fork.git
