<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapzen.open"
    android:versionCode="0"
    android:versionName="DEVELOPMENT"
    android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MapzenApplication"
        android:allowBackup="true"
        android:label="@string/application_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Mapzen" >
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".login.LoginActivity"
                android:launchMode="singleTask"
                android:theme="@style/Theme.Mapzen.NoActionBar"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mapzen" android:host="oauth-login" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.InitialActivity"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" android:host="maps.google.com" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="https" android:host="maps.google.com" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.ListResultsActivity"
            android:label="@string/results_title"
            android:theme="@style/Theme.Mapzen.SearchResults" />
        <service android:name=".core.DataUploadService"
            android:exported="false"
            android:enabled="true" >
        </service>
    <receiver android:name=".util.NotificationBroadcastReceiver" />
    </application>
</manifest>
