<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Provide dummy values and substitute real values at compile time. -->
    <string name="osm_key">REPLACE_KEY</string>
    <string name="osm_secret">REPLACE_SECRET</string>
    <string name="mixpanel_token">REPLACE_MIXPANEL_TOKEN</string>
</resources>

